
<div class="card text-center">
    <div class="card-header">
        {{ t.libelle| titlecase }}
    </div>
    <div class="card-body">
        <img [src]="t.photo" alt="photo">
<br>
 <span class="badge badge-pill" [ngClass]="{'badge-primary' :t.hautGamme,'badge-dark':!t.hautGamme}">
prix : {{t.prix}}dt
<i [ngClass]="{'fa fa-thumbs-up':t.hautGamme}"></i>
</span>
    </div>
    <div class="card-footer text-muted">
       <button type="button" class="btn btn-primary">Details</button>
    </div>
</div>